<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>LSA SmartCourse</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">Sobre</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a"
                                data-toggle="dropdown">Estudante
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="/estudante/turma">Turma </a>
                                <a class="dropdown-item" href="/estudante/cadastrar">Cadastrar </a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a"
                                data-toggle="dropdown">Professor
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="/professor/lista">Lista </a>
                                <a class="dropdown-item" href="/professor/cadastrar">Cadastrar </a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->



    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="images/graduação.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Bem vindo ao novo conceito de Cursos</p>
                    <h2>LSA SmartCourse</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="images/graduação2.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Esperamos que encontre o que mais combine com você</p>
                    <h2>Feito para você</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="images/graduação3.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Novos Conceitos</p>
                    <h2>Novos Aprendizados</h2>
                </header>
            </div>
        </article>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="images/engenharia.jpEg" alt="Engenharia" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Graduações do Futuro</p>
                                <h2>Engenharia</h2>
                            </header>
                            <p> Se busca se tornar um gestor e conquistar grandes cargos, esse é o curso perfeito para
                                você, encontre o que tem de novo no mercado</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Veja Mais</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="images/computação.jpg" alt="Computação" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Sempre novo e sempre renovando</p>
                                <h2>Computação</h2>
                            </header>
                            <p> Se busca grande desafios e sempre está renovando seu conteudo, a computação é a area
                                certa para você, novas tecnologias aparecem todos os dias.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Veja Mais</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Nunca desista de seus sonhos</p>
                <h2>Acredite você chegara la!</h2>
            </header>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <div class="gallery">
                <div>
                    <div class="image fit">
                        <a href="#"><img src="images/pic01.jpg" /></a>
                    </div>
                </div>
                <div>
                    <div class="image fit">
                        <a href="#"><img src="images/pic02.jpg" /></a>
                    </div>
                </div>
                <div>
                    <div class="image fit">
                        <a href="#"><img src="images/pic03.jpg" /></a>
                    </div>
                </div>
                <div>
                    <div class="image fit">
                        <a href="#"><img src="images/pic04.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="https://www.twitter.com/" class="icon fa-twitter"><span class="label">Twitter</span></a>
                </li>
                <li><a href="https://www.facebook.com/" class="icon fa-facebook"><span class="label">Facebook</span></a>
                </li>
                <li><a href="https://www.Instagram.com/" class="icon fa-instagram"><span
                            class="label">Instagram</span></a></li>
                <li><a href="https://www.outlook.com/" class="icon fa-envelope-o"><span class="label">Email</span></a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Projeto Faculdade ESAMC Santos
        </div>
    </footer>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


</body>

</html>