body{
  background-color:  #f2f2f2;
}

#image{
  width: 25px;
  height: 25px;
}

#image :hover {
  color: blue;
  transition: color 200ms;
}

#colunas{
  text-align: center;
  width: 20px;
}
#cadastrar{
  padding-left: 15px;
}
#titulo{
  text-align: center;
  padding-bottom: 18px;
}
#form{
  padding: 20px;
background-color: #e6e6e6;
}
#esp-form{
  padding-bottom: 20px;
}
#sex{
  display: inline-flex;
}

.container{
  max-width: 602px;
  padding: 50px 0;
}

.sex{
 padding: 13px 0px;
 
}

.sex-a{
  margin: 0px 17px;
}

.wrap-contact100{
  padding: 60px 380px;
}
.contact100-form {
width: 590px;
}

#footer {
  padding: 4rem 0 1rem 0 ;
  background: #000;
  text-align: center;

}

.footer-turma{
  position:absolute;
  bottom:0;
  width:100%;
}

.footer-cadastro{
  bottom:0;
  width:100%;
}

  #footer a {
    color: rgba(255, 255, 255, 0.5);
  }

  #footer a:hover {
      color: #FFF;
    }

  #footer .copyright {
    color: #bbb;
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
    padding: 0;
    text-align: center;
  }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3rem 0 1rem 0 ;
    }

  }